.hero-body
    @extend .columns

    .section-left
        text-align: center
        @extend .column
        ///I
        +tablet
            margin-right: 5rem
            padding-left: 5rem
            width: 55%
            text-align: left
        ///I
        +desktop
            padding-left: 9rem

.hero-image
    @extend .column
    svg
        max-height: 16rem
